{% extends "base.html" %}

{% block title %}URL News Classifier - Advanced News Analyzer{% endblock %}

{% block content %}
<!-- Header Section -->
{% include 'components/url-classifier/header_section.html' %}

<!-- Model Status -->
{% include 'components/url-classifier/model_status.html' %}

<!-- URL Input Section -->
{% include 'components/url-classifier/url_input_section.html' %}

<!-- Classify Button -->
{% include 'components/url-classifier/classify_button.html' %}

<!-- Loading Indicator -->
{% include 'components/url-classifier/loading_indicator.html' %}

<!-- Classification Results -->
{% include 'components/url-classifier/classification_results.html' %}

<!-- Model Statistics -->
{% include 'components/url-classifier/model_statistics.html' %}

<!-- Recent Feedback -->
{% include 'components/url-classifier/recent_feedback.html' %}

<!-- Error Display -->
{% include 'components/url-classifier/error_display.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/url-classifier.js') }}"></script>
{% endblock %}
